<div class="umb-forms-rendertype-file"
     ng-controller="UmbracoForms.RenderTypes.FileController">
        <div ng-repeat="path in files">
            <div ng-if="path && path.indexOf('.') > 0">
                <a target="_blank" href="/umbraco/backoffice/secureformuploads{{path.replace('/media/forms/upload/form_','/')}}/download" class="thumbnail" ng-if="isImage(path)">
                    <img ng-src="{{getPreview('/umbraco/backoffice/secureformuploads' + path.replace('/media/forms/upload/form_','/')).replace('?width=400','')}}/view?width=400" />
                </a>

                <a target="_blank" href="/umbraco/backoffice/secureformuploads{{path.replace('/media/forms/upload/form_','/')}}/download" class="thumbnail file" ng-if="!isImage(path)">
                    <i class="icon icon-document"></i>
                    {{getFileName(path)}}
                </a>
            </div>
        </div>
</div>
